
body {
  /*background: url('https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.goodwp.com%2Fimages%2F201103%2Fgoodwp.com_15614.jpg&f=1') right top; */
  padding: 8%;
  margin: 0;
  height: 100%;
}

h1 {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 8%;
  text-align: center;
}

form{
  width: 50%;
  margin: 0 auto;
  margin-bottom: 8%;
  text-align: center;
}

.board {
  margin: 0 auto;
  display: grid;
  height: 300px;
  width: 300px;
  background-color: black;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 10px 10px;
  text-align: center;
  font-size: 48px;
}

div>span{
  display: block;
  margin-top: 25%;
}
